<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="/css/home.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <img
                src="assets/rainerLogo.jpg"
                alt="..."
                width="60px"
              />
              </li>
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gallery.html">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="menu.html">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
        <img src="galleryassets/oldrainerbrew.jpg" class="img-about" alt="...">
      </div>
      <div class="text-box-about-me">
          <p >
            Rainier Brewing Company (1878–1999) was a Seattle, Washington, company that brewed Rainier Beer, a popular brand in the Pacific 
            Northwest of the United States. Although Rainier was founded in 1884, the Seattle site had been brewing beer since 1878. The beer is 
            no longer brewed in Seattle, nor is the company owned locally. In the late 1990s, the company was sold to Stroh's, then to Pabst Brewing 
            Company, though Miller contract brews most of Pabst's beers. The brewery was closed by Pabst in 1999 and sold.
            1908 letterhead from Seattle Brewing and Malting Co.
            
            The brewery itself is a well-known fixture in the south end of town, adjacent to I-5 just north of the Spokane Street Viaduct. 
            The plant is also home to the Tully's Coffee headquarters, Bartholomew Winery, Red Soul Motorcycle Fabrications, as well as artist lofts, 
            band practice spaces, and a recording studio. The trademark red neon "R" that sat atop the building was replaced with a green "T" built by Western Neon,
             when Tully's was using the plant to roast coffee. The neon "R" is now on display at Seattle's Museum of History and Industry which was refurbished by 
             local Seattle sign company Western Neon. The green "T" was removed on September 30, 2013 by Tully's, and a red neon replica "R", built by Western Neon, returned 
            to the top of the brewery on October 24, 2013.[1] The brand is currently owned and operated by Pabst Brewing Company. In Canada, it is brewed and 
            distributed by Sleeman Breweries as Rainier Lager. 
          </p>
      </div>
      <footer class="bg-dark text-center text-white">
        <div class="container p-4 pb-0">
    
        </div>
    
      
     
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-white" > Rainer brewing Co.</a>
        </div>
    
      </footer>

</body>
</html>